In [46]:
import pandas as pd
import numpy as np

In [47]:
path = 'micro-data/csv/recodev12.csv'

In [48]:
df = pd.read_csv(path)

In [49]:
df.head()

,caseno,popbasesec,country,region,la_group,residence_type,add1yr,ageh,agehrp,aggdtwpew11g,...,wg1famuk11,wkpladdewni,wlshread,wlshspeak,wlshstnd,wlshwrit,wpzhome,wrkplaceew,yradindstud,yrarr_yearg
0,800051,1,1,1,1,2,1.0,2,4.0,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,800113,1,1,1,1,2,1.0,16,13.0,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,800118,1,1,1,1,2,1.0,6,3.0,2.0,...,NaN,1.0,NaN,NaN,NaN,NaN,3.0,3.0,0.0,NaN
3,800132,1,1,1,1,2,1.0,10,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,800142,1,1,1,1,2,1.0,16,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [50]:
df.shape

(2848149, 121)

In [55]:
(df.la_group == -9).sum()

0

In [56]:
(df.popbasesec == 1).sum()

2803842

In [57]:
#the second column, popbasesec, indicates whether the data is collected from a usual resident, 
#Student living away from home during term-time, or short term resident. As there may be some 
# duplicate entries for  basic information, I avoid this by filtering to only usual residents. 

mask = (df.popbasesec == 1)
data = df[mask]

In [58]:
data.shape

(2803842, 121)

In [59]:
list(data.columns)

['caseno',
 'popbasesec',
 'country',
 'region',
 'la_group',
 'residence_type',
 'add1yr',
 'ageh',
 'agehrp',
 'aggdtwpew11g',
 'ahchuk11',
 'carer',
 'carsnoc',
 'cenheat',
 'clients01',
 'clients02',
 'clients03',
 'clients04',
 'clients05',
 'clients06',
 'clients07',
 'clients08',
 'clients09',
 'clients10',
 'clients11',
 'clients12',
 'clients13',
 'clients14',
 'clients15',
 'clients16',
 'clients17',
 'clients18',
 'clients19',
 'clients20',
 'clients21',
 'cobg',
 'cobhukrcg',
 'concealed',
 'depedhuk11',
 'depemhuk11',
 'dephdhuk11',
 'dephshuk11',
 'deprived',
 'disability',
 'dpcfamuk11',
 'ecopuk11',
 'empstat',
 'estnaturei',
 'ethhuk11',
 'ethnicityew',
 'everwork',
 'fmspuk11',
 'health',
 'hhldlang11',
 'hlqupuk11',
 'hours',
 'housecarer',
 'identityg',
 'illhuk11g',
 'indgpuk11',
 'intention',
 'iscog',
 'landlordew',
 'langprf',
 'larpuk11',
 'lastyrwrkg',
 'mainglangg',
 'marstat',
 'meighuk11',
 'mighuk11',
 'mltrlg',
 'movefromg',
 'moveregion',
 'natidbpuk11',
 'natidepuk11',
 'natidipuk11',
 'natidnipuk11',
 'natidopuk11',
 'natidspuk11',
 'natidwpuk11',
 'nssec',
 'nsshuk11',
 'occg',
 'passports',
 'penexactpuk11',
 'penhuk11',
 'penpuk11',
 'position',
 'pproomhuk11',
 'psptelog',
 'relato',
 'religionew',
 'rtntypeg',
 'scaddtyp',
 'scghuk11',
 'scgpuk11c',
 'selfcon',
 'sex',
 'single',
 'sizhuk11',
 'sscaddcpew11',
 'stapuk11',
 'student',
 'supervisor',
 'tenduk11',
 'tenure',
 'transport',
 'transport_2001',
 'typaccom',
 'unemphist',
 'visitorsg',
 'wg1famuk11',
 'wkpladdewni',
 'wlshread',
 'wlshspeak',
 'wlshstnd',
 'wlshwrit',
 'wpzhome',
 'wrkplaceew',
 'yradindstud',
 'yrarr_yearg']

In [61]:
#remember to split out geography before modelling 

cols_to_keep = ['country', 'region', 'la_group', 'ageh', 'ahchuk11','carer', 'carsnoc', 'cenheat',
               'cobg','deprived', 'disability', 'dpcfamuk11', 'ecopuk11', 'ethnicityew','everwork', 
               'fmspuk11', 'health', 'hhldlang11', 'hlqupuk11','hours', 'housecarer',
               'langprf', 'larpuk11', 'mainglangg', 'marstat', 'natidbpuk11', 'pproomhuk11','religionew',
               'scgpuk11c','sex', 'student', 'tenduk11', 'transport', 'yrarr_yearg']

In [62]:
df = data[cols_to_keep]

In [63]:
df.shape

(2803842, 34)

In [64]:
df.health.value_counts(normalize=True)

1.0    0.472279
2.0    0.340101
3.0    0.131679
4.0    0.043166
5.0    0.012775
Name: health, dtype: float64

In [87]:
#df[['la_group', 'health']].groupby('la_group').mean()

health = df[['la_group', 'health']].groupby(['la_group'])[['health']].mean()
health.head()

            health
la_group
1         1.838712
2         1.865110
3         1.896807
4         1.818652
5         1.830602

In [80]:
local_auths = pd.read_csv('local_authority_codes.csv')

In [81]:
local_auths.head()

   code                  local_authority
0     1  Hartlepool and Stockton-on-Tees
1     2                    Middlesbrough
2     3             Redcar and Cleveland
3     4     Chester-le-Street and Durham
4     5          Darlington and Teesdale

In [44]:
df.isna().sum() #the null values are NA's

country              0
region               0
la_group             0
ageh                 0
ahchuk11         50360
carer                0
carsnoc          50360
cenheat          50360
cobg                 0
deprived         50360
disability           0
dpcfamuk11      564673
ecopuk11        529423
ethnicityew          0
everwork       1864564
fmspuk11             0
health               0
hhldlang11       50360
hlqupuk11       529423
hours          1468701
housecarer       50360
langprf        2587791
larpuk11         50360
mainglangg      105006
marstat              0
natidbpuk11          0
pproomhuk11      50360
religionew           0
scgpuk11c      1021114
sex                  0
student              0
tenduk11         50360
transport      1468701
yrarr_yearg    2429013
dtype: int64

In [20]:
df.ahchuk11.isna().sum()

54642

In [12]:
na_test = df.dropna()

In [13]:
na_test.shape # as suspected..the null values are in different columns

(0, 31)

In [14]:
df = df[df.health.isna() == False] #reducing to only columns that have an indicator in health

In [15]:
df.shape

(2813290, 31)

In [ ]:
#now need to decide how best to fill the empty values. Will look into the most common 
#entry per area.

In [17]:
df.la_group.value_counts(normalize=True) #so 265 different local authorities represented.

206    0.019178
216    0.013424
200    0.009893
213    0.009311
184    0.009036
193    0.008330
25     0.007654
215    0.007524
225    0.006466
220    0.006377
260    0.006206
226    0.006080
149    0.005948
13     0.005941
18     0.005926
217    0.005789
196    0.005679
207    0.005677
191    0.005647
222    0.005580
208    0.005556
227    0.005555
242    0.005538
223    0.005501
249    0.005498
20     0.005498
209    0.005495
262    0.005463
239    0.005432
198    0.005382
         ...
47     0.002452
60     0.002445
95     0.002433
81     0.002430
131    0.002416
253    0.002408
118    0.002405
3      0.002404
119    0.002397
152    0.002388
138    0.002378
265    0.002360
29     0.002334
134    0.002333
61     0.002330
161    0.002327
5      0.002324
67     0.002260
259    0.002241
8      0.002239
101    0.002238
51     0.002232
172    0.002230
135    0.002213
160    0.002211
82     0.002206
139    0.002199
94     0.002185
173    0.002132
79     0.002118
Name: la_group, Length: 265, dtype: float64

In [31]:
df.fillna(-9, inplace = True)

In [35]:
y = df.pop('health')

In [71]:
y.value_counts(normalize=True)

1.0    0.472819
2.0    0.340030
3.0    0.131370
4.0    0.043042
5.0    0.012740
Name: health, dtype: float64

    Value label information for health
	Value = 1.0	Label = Very good health
	Value = 2.0	Label = Good health
	Value = 3.0	Label = Fair health
	Value = 4.0	Label = Bad health
	Value = 5.0	Label = Very bad health
    Value = -9.0   Label = Not applicable --> already dropped

In [40]:
df.columns

Index(['country', 'region', 'la_group', 'ageh', 'ahchuk11', 'carer', 'carsnoc',
       'cenheat', 'cobg', 'deprived', 'disability', 'dpcfamuk11', 'ecopuk11',
       'ethhuk11', 'everwork', 'fmspuk11', 'hhldlang11', 'hlqupuk11', 'hours',
       'housecarer', 'illhuk11g', 'larpuk11', 'mainglangg', 'marstat',
       'religionew', 'scgpuk11c', 'sex', 'student', 'tenduk11', 'transport'],
      dtype='object')

In [41]:
df_geo = df[['country', 'region', 'la_group']]

In [43]:
df_geo.head(2)

   country  region  la_group
0        1       1         1
1        1       1         1

In [44]:
df.drop(columns=['country', 'region', 'la_group'], inplace=True)

In [52]:
columns = df.columns #choosing all the columns to convert into dummy variables

In [54]:
X = pd.get_dummies(df, columns = columns, drop_first=True)

In [45]:
X.head()

NameError: name 'X' is not defined

In [56]:
X_2000 = X.iloc[:6000,:]
y_2000 = y[:6000]

In [57]:
X_2000.shape

(6000, 185)

In [58]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X_2000, y_2000, test_size=0.3, shuffle=True)

In [60]:
print(X_train.shape)
print(y_train.shape)

(4200, 185)
(4200,)

In [61]:
X_train.shape

(4200, 185)

In [62]:
model = LogisticRegressionCV(solver='liblinear', n_jobs=2, multi_class='ovr', cv=5)

In [63]:
model.fit(X_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=2, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='liblinear', tol=0.0001,
           verbose=0)

In [64]:
model.score(X_test, y_test)

0.5788888888888889

In [66]:
model = LogisticRegression(multi_class='ovr', solver='liblinear')

In [67]:
model_params = {'penalty': ['l1', 'l2'], 
                'C': np.linspace(0.01, 10, 30)}

In [68]:
gs = GridSearchCV(model, model_params, cv=5, verbose=1)

In [69]:
gs.fit(X_train, y_train)

Fitting 5 folds for each of 60 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:  4.1min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'penalty': ['l1', 'l2'], 'C': array([ 0.01   ,  0.35448,  0.69897,  1.04345,  1.38793,  1.73241,
        2.0769 ,  2.42138,  2.76586,  3.11034,  3.45483,  3.79931,
        4.14379,  4.48828,  4.83276,  5.17724,  5.52172,  5.86621,
        6.21069,  6.55517,  6.89966,  7.24414,  7.58862,  7.9331 ,
        8.27759,  8.62207,  8.96655,  9.31103,  9.65552, 10.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [83]:
best_model = gs.best_estimator_

In [75]:
print(gs.best_score_ ) #for reference, the baseline is 0.472819
print(gs.best_params_)

0.5978571428571429
{'C': 0.3544827586206897, 'penalty': 'l1'}

In [90]:
best_model.coef_.shape

(5, 185)

In [96]:
lreg_best.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=0.3544827586206897, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l1', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [97]:
lreg_best.score(X_train, y_train)

0.6202380952380953

In [99]:
lreg_best.coef_.shape #so this is giving me the best coefficients for each of the 5 classes
#I'm predicting.

(5, 185)

In [104]:
lreg_best.classes_ #This is health from very good to very bad..

array([1., 2., 3., 4., 5.])

In [119]:
#These are the features that best help predict class 1 (Very good health)
pd.DataFrame(list(zip(X_train.columns, lreg_best.coef_[0], abs(lreg_best.coef_[0]))), 
             columns = ['Feature', 'Coefficient', 'Abs_Coefficient']).sort_values(
             by='Abs_Coefficient', ascending=False).head(10)

            Feature  Coefficient  Abs_Coefficient
61   disability_3.0     2.308985         2.308985
176   transport_3.0     0.856118         0.856118
95    ethhuk11_13.0    -0.706855         0.706855
103    fmspuk11_6.0    -0.697227         0.697227
135    larpuk11_8.0    -0.617932         0.617932
111  hlqupuk11_10.0    -0.596882         0.596882
99     fmspuk11_2.0    -0.560698         0.560698
58     deprived_4.0    -0.530478         0.530478
12          ageh_14    -0.518066         0.518066
100    fmspuk11_3.0    -0.512507         0.512507

In [120]:
#These are the features that best help predict class 5 (Very bad health)
pd.DataFrame(list(zip(X_train.columns, lreg_best.coef_[4], abs(lreg_best.coef_[4]))), 
             columns = ['Feature', 'Coefficient', 'Abs_Coefficient']).sort_values(
             by='Abs_Coefficient', ascending=False).head(10)

            Feature  Coefficient  Abs_Coefficient
61   disability_3.0    -4.499661         4.499661
60   disability_2.0    -2.804645         2.804645
33      carsnoc_2.0    -1.025891         1.025891
11          ageh_13     0.681333         0.681333
122  housecarer_0.0    -0.584688         0.584688
157  religionew_9.0     0.402756         0.402756
164    tenduk11_0.0    -0.279414         0.279414
150  religionew_2.0    -0.252496         0.252496
64   dpcfamuk11_3.0     0.224356         0.224356
70     ecopuk11_2.0    -0.221139         0.221139

In [103]:
#and for interest, trying a KNN and SVM 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [134]:
knn = KNeighborsClassifier()

In [135]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [136]:
knn.score(X_test, y_test)

0.5366666666666666

In [140]:
clf = SVC()

In [141]:
clf.fit(np.array(X_train), y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [142]:
clf.score(X_test, y_test)

0.5477777777777778

In [ ]:
#Notes: fill null values with a proxy - a mean value, a mean per local authority, 
# or fill from above (as a kind a kind of neighbor proxy)


# Look into Likert scale. 
# Perhaps try linear regression on the scale from 1 - 5